article.col {
	background-image: url(../img/bg-col.jpg);
	padding: 15px;
	position: relative;
	z-index: 0;
	color: #6f6f6f;
}

article.col:hover {
	box-shadow: 0px 0px 15px 5px #ddd;
}

article[class*="col-"] {
    background-clip: padding-box;
    border: 15px solid transparent;
}

.title_prod {
	min-height: 60px;
}

.modalClick:hover {
	cursor: pointer;
}

.secondamt {
	bottom: 0;
	margin-bottom: 10px;
	min-height: 20px;
}

.price {
	padding: 5px;
	float: left;
	font-size: 24px;
	font-family: 'MuseoSans300', sans-serif;
}

.buy {
	float: right;
	background: #5D9D50;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	color: rgba(255, 255, 255, .75);
	cursor: pointer;
}

.buy:hover {
	color: #fff;
}

.amt {
	float: right;
	position: absolute;
	display: none;
}

.amt input[type="button"].less {
	background-image: url(../img/minus1.gif);
}

.amt input[type="button"].more {
	background-image: url(../img/plus1.gif);
}

.amt input[type="button"] {
	background-color: #5D9D50;
	background-repeat: no-repeat;
	background-position: center;
	width: 33px;
	height: 34px;
	padding: 0;
	border: none;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	float: left;
	cursor: pointer;
}

.amt input[type="text"] {
	background: none;
	width: 50px;
	margin: 0 3px;
	padding: 0;
	border: none;
	float: left;
	font: 19px 'Open Sans', sans-serif;
	color: #4a4437;
	text-align: center;
	box-shadow: none;
	min-width: 25px;
	max-width: 25px;
}

.cart-title {
	color: #272927;
	font-family: 'MuseoSans300', sans-serif;
	font-size: 16px;
}

.my-badge,
.delete-prod a {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #ce4844;
	font-weight: normal;
	margin-left: 4px;
	text-align: center;
	line-height: 28px;
	height: 28px;
	width: 28px;
	display: inline-block;
	color: #fff;
	background-color: #ce4844;
	font-family: 'MuseoSans300', sans-serif;
}

@media screen and (max-width: 768px) {
	.amt {
		position: relative;
		display: block !important;
		margin-right: 10px;
	}
}


/**************************************************/


/************    Tabela cu produse    *************/


/**************************************************/

.table-cart-products {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.table-cart-products thead tr {
	height: 45px;
	background-color: #ce4844;
	color: #fff;
	font-size: 16px;
	font-family: 'MuseoSans500', sans-serif;
}

.table-cart-products tr:not(.row-price) {
	border-bottom: 1px solid #f4f2f1;
}

.table-cart-products tbody td {
	padding-left: 10px;
	padding-right: 5px;
}

.table-cart-products tbody td img {
	padding-top: 5px;
	padding-bottom: 5px;
}

.table-cart-products tbody.rows tr:hover td {
	background-color: #eee;
}

.table-cart-products .delete-product {
	margin-right: 15px;
}

.table-cart-products td .amt {
	float: none;
	position: relative;
	display: block;
}

.table-cart-products td .amt input {
	float: none;
}

.table-cart-products .price {
	float: none;
	text-align: right;
	padding: 0;
}

.table-cart-products .total tr:nth-last-child(3) {
	height: 35px;
	vertical-align: bottom;
}

@media (max-width: 992px) {
	.cart-item {
		text-align: center;
	}
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}
	.table-cart-products thead {
		display: none;
	}
	.table-cart-products tbody tr {
		position: relative;
	}
	.table-cart-products tbody.rows tr td {
		padding: 10px;
	}
	.table-cart-products .delete-product {
		position: absolute;
		top: 10px;
		right: 0px;
	}
	.table-cart-products .price {
		text-align: center;
	}
	.table-cart-products .total tr:nth-last-child(3) {
		height: auto;
	}
}


/**************************************************/


/*******   Tabela cu totaluri pe comanda   ********/


/**************************************************/

.total .total-desc {
	font-size: 16px;
	font-family: 'MuseoSans300', sans-serif;
	text-align: right;
}

.total .total-price,
.total .delivery-price,
.total .total-delivery-price {
	font-size: 24px;
	font-family: 'MuseoSans300', sans-serif;
	text-align: right;
	font-weight: bold;
}

@media screen and (max-width: 992px) {
	.total .total-desc {
		text-align: center;
	}
	.total .total-price,
	.total .delivery-price,
	.total .total-delivery-price {
		text-align: center;
	}
}

/**************************************************/


/**********   Modal dialog la comanda   ***********/


/**************************************************/

table.order {
	width: 100%;
}

#orderAddressRestaurant {
	display: none;
}