.list-category {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border: none;
	border-left: 4px solid #fff;
	z-index: 89;
	border-radius: 0px 0px 5px 5px;
	padding: 0px;
	margin: 0px 0 0;
	width: calc(100% - 30px);
}

.list-category li.category {
	color: #777;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.list-category li.category:hover {
	border-left: 4px solid #5d9d50;
	margin-left: -4px;
	color: #333;
	background: #f0f0f0;
}

.list-category li.category:last-child:hover {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.list-category li.group {
	display: block !important;
	padding: 3px 20px !important;
	font-size: 12px;
	line-height: 1.42857143;
	color: #777 !important;
	white-space: nowrap;
}
.dropbtn {
	width: 100%;
}
.name-category {
	text-align: right;
}

@media screen and (max-width: 768px) {
	.name-category {
		text-align: center;
	}
}
