/**************************************************/


/*********  Modificarea claselor existente *********/


/**************************************************/

.my-input-group {
	position: relative;
}

#register .my-input-group .fa,
#login .my-input-group .fa,
#contact .my-input-group .fa,
#cautare .my-input-group .fa {
	position: absolute;
	left: 0;
	top: -8px;
	text-align: center;
	width: 35px;
	height: 35px;
	line-height: 35px;
	color: rgb(119, 119, 119);
}

#contact .textarea .fa {
	top: 10px !important;
}

.paging-more .fa {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.alert .fa {
	padding-left: 5px;
}

.remove .fa-lg {
	vertical-align: -4%;
}

i.fa-close {
	cursor: pointer;
}

button {
	font-family: Lato, Helvetica, Arial, sans-serif !important;
}

.container {
	margin-top: 15px;
}

.btn {
	outline: none !important;
	text-transform: uppercase;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

.btn-danger {
	background-color: #ce4844;
	border-color: #c53834;
}

.btn-success {
	background-color: #5d9d50;
	border-color: #538d47;
}

.nmodal-order {
	padding-top: 10%;
}

.products .modal-dialog {
	width: 60% !important;
}

@media (max-width: 768px) {
	.products .modal-dialog {
		width: auto !important;
	}
}

.modal-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #ce4844;
	color: #ffffff;
	text-shadow: 0 1px 0 #000000;
}

.modal-header .close {
	color: #ffffff;
	text-shadow: 0 1px 0 #000000;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.modal-header .close:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.img-responsive {
	display: inline-block;
}

.label {
	font-size: 100%;
	font-weight: normal;
}

.dropdown-menu {
	left: auto;
}

.dropdown-menu > li > a {
	color: #666;
}

@media (max-width: 768px) {
	.dropdown-menu {
		position: relative;
		float: none;
		border: none;
		box-shadow: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.dropdown-menu > li > a {
		padding: 13px 0px 13px 50px;
		background: #fff;
		border-top: 1px solid #eee;
		border-left: 4px solid transparent;
	}
	.dropdown-menu > li > a:hover {
		color: #333;
		border-left: 4px solid #4D8B41;
		background: #f0f0f0;
	}
	.divider {
		display: none;
	}
}