/*  Main menu  */

.left {
	float: left;
}

.right {
	float: right !important;
}

#float {
	height: 65px;
	position: relative;
	-webkit-box-shadow: inset 0 2px #7BCC6B, 0 5px 5px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 2px #7BCC6B, 0 5px 5px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 2px #7BCC6B, 0 5px 5px 2px rgba(0, 0, 0, 0.2);
	background: #5D9D50;
	background-image: -ms-linear-gradient(top, #6AB05B 0%, #5D9D50 100%);
	background-image: -moz-linear-gradient(top, #6AB05B 0%, #5D9D50 100%);
	background-image: -o-linear-gradient(top, #6AB05B 0%, #5D9D50 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6AB05B), color-stop(1, #5D9D50));
	background-image: -webkit-linear-gradient(top, #6AB05B 0%, #5D9D50 100%);
	background-image: linear-gradient(to bottom, #6AB05B 0%, #5D9D50 100%);
	border-bottom: 1px solid #4D8B41;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	z-index: 99;
}

.navigation {
	margin: 0 auto;
	width: 915px;
}

.navigation > li {
	float: left;
	padding-left: 30px;
}

.navigation > li > a,
#touch-menu {
	display: block;
	padding: 20px 15px;
	font-size: 16px;
	color: rgba(255, 255, 255, .75);
}

.navigation > li > a:hover,
#touch-menu:hover {
	color: #fff;
}

.navigation > li.current > a {
	color: #fff;
	background-color: #ce4844;
	border: 1px solid #7BCC6B;
	border-width: 0 1px;
	-webkit-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4);
}

#touch-menu {
	display: none;
}

.mobile-navigation {
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
}

.mobile-navigation span,
.mobile-navigation span:before,
.mobile-navigation span:after {
	width: 24px;
	height: 4px;
	background: rgba(255, 255, 255, .75);
	position: absolute;
	top: 50%;
	position: inline-block;
}

.mobile-navigation span {
	left: 3px;
	margin-top: 0px;
	transition: background 0.3s;
}

.mobile-navigation.visible span {
	background: #68AE5A;
}

.mobile-navigation span:before {
	content: '';
	top: -7px;
	transition: transform .3s;
	transform-origin: 0% 50%;
}

.mobile-navigation.visible span:before {
	background-color: #ce4844;
	transform: translateX(3px) translateY(0px) rotate(45deg);
}

.mobile-navigation span:after {
	content: '';
	top: 7px;
	transition: transform .3s;
	transform-origin: 0% 50%;
}

.mobile-navigation.visible span:after {
	background-color: #ce4844;
	transform: translateX(3px) translateY(3px) rotate(-45deg);
}

@media (max-width: 992px) {
	#float {
		height: 49px;
	}
	.navigation {
		width: 712px;
	}
	.navigation > li {
		padding-left: 15px;
	}
	.navigation > li > a,
	#touch-menu {
		font-size: 14px;
		padding: 12px 12px;
	}
}

@media (max-width: 768px) {
	.navigation {
		text-decoration: none;
		display: none;
		margin-top: 0px;
		width: 100% !important;
		position: absolute;
		z-index: 99;
		-webkit-box-shadow: inset 0 3px #7BCC6B, 0 5px 5px 2px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: inset 0 3px #7BCC6B, 0 5px 5px 2px rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 3px 1px #7BCC6B, 0px 5px 5px 2px rgba(0, 0, 0, 0.2);
	}
	.navigation > li {
		float: none;
		padding: 0px;
		border-bottom: none;
	}
	.navigation > li > a {
		padding: 13px 13px;
		background: #fff;
		color: #666;
		border-top: 1px solid #eee;
		border-left: 4px solid transparent;
	}
	.navigation > li:first-child a {
		border-top: none;
	}
	.navigation > li > a:hover {
		color: #333;
		border-left: 4px solid #4D8B41;
		background: #f0f0f0;
	}
	.navigation > li.current > a {
		background: #eee;
		color: #333;
		border-top: 1px solid #eee;
		border-left: 4px solid #ce4844;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-right: none;
	}
	#touch-menu {
		padding: 9px 9px;
		display: block;
		padding-left: 35px;
	}
	.mobile-navigation:after {
		content: 'menu';
		position: absolute;
		top: 4px;
		left: 30px;
		font-size: 25px;
		line-height: 1;
		text-transform: uppercase;
	}
}

.tri-up {
	/* Styling block element, not required */
	position: absolute;
	top: -15px;
	left: 32%;
}


/* Required for Down Triangle */

.tri-up:before,
.tri-up:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-top: 0;
}


/* Stroke */

.tri-up:before {
	bottom: -15px;
	left: 21px;
	/* If 1px darken stroke slightly */
	border-bottom-color: rgba(0, 0, 0, 0.15);
	border-width: 11px;
}


/* Fill */

.tri-up:after {
	bottom: -16px;
	left: 22px;
	border-bottom-color: #fff;
	border-width: 10px;
}

@media (max-width: 768px) {
	.tri-up {
		display: none;
	}
}

