html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Lato, Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}
html {
	height: 100%;
}
a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a:hover, a:active {
	outline: 0;
}
a {
	color: #0088cc;
	text-decoration: none;
	cursor: pointer;
}
a:hover, a:focus {
	color: #005580;
	text-decoration: none;
}
::selection {
	background-color: #5D9D50;
	color: white;
}
::moz-selection {
background-color: #5D9D50;
color: white;
}
::webkit-selection {
background-color: #5D9D50;
color: white;
}
input[type='text'], input[type='password'], select, input[type='file'], textarea {
	color: #777;
	padding-left: 35px;
	margin: 10px 0 10px 0px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	width:100%;
}
#address input[type='text']{
    padding-left: 10px;
}
input[type='text']:focus, input[type='password']:focus, select:focus, textarea:focus {
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}
input[type='text']:required, input[type='password']:required, select:required, textarea:required {
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px rgba(206, 72, 68, 0.25) !important;
}
textarea {
	padding-top: 10px;
	height: 300px;
}
body {
	height: 100%;
	font: 14px/24px  Lato, Helvetica, Arial, sans-serif;
	background-color: #ebebeb;
	background-image: url("../img/bg-body.png");
}
ol, ul {
	list-style: none;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a, a:hover {
	text-decoration: none;
}
.header {
	min-width: 100%;
	height: 229px;
}
.content {
	color: #3B3C41;
	background: #fff;
	border: 1px solid #dedede;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 40px;
	margin-bottom: 20px;
	overflow:hidden;
    min-height: 55px;
    min-width: 360px;
}
.footer {
	width: 100%;
	padding: 20px;
	display: inline-block;
}
.footer p {
	color: #777;
}
.header_mini_menu {
	position:absolute;
	right:0;
	margin-right: 5%;
	margin-top: 1%;
}
.input-group {
	position: relative;
	color: #777;
}

/**************************************************/
/**********  Pentru class .btn adaugator **********/
/**************************************************/

.btn-embossed {
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15)
}

.btn-embossed.active,
.btn-embossed:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15)
}

/**************************************************/
/*************  Mesaje informationale *************/
/**************************************************/

.alert-msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert {
	padding: 5px 8px 5px 12px;
	position:absolute;
	top: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	z-index: 19;
}
.alert:before {
	content: "";
    position: absolute;
    top: 10px;
    left: -8px;
    display: block;
    width: 16px;
    height: 16px;
    z-index: 9;
	border-bottom: 1px solid #fbeed5;
	border-left: 1px solid #fbeed5;
	border-top:none;
	border-right:none;
    -webkit-transform: rotate(45deg);
}
.alert, .alert h4 {
	color: #c09853;
}
.alert h4 {
	margin: 0;
}
.alert .close {
	position: relative;
	top: -2px;
	right: -21px;
	line-height: 20px;
}
.alert-success , .alert-success:before{
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6 !important;
}
.alert-success h4 {
	color: #468847;
}
.alert-danger, .alert-danger:before, .alert-error, .alert-error:before {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7 !important;
}
.alert-danger h4, .alert-error h4 {
	color: #b94a48;
}
.alert-info, .alert-info:before {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1 !important;
}
.alert-info h4 {
	color: #3a87ad;
}
.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;
}
.alert-block > p, .alert-block > ul {
	margin-bottom: 0;
}

/**************************************************/
/*************       Scrollbar        *************/
/**************************************************/
::-webkit-scrollbar {
 width: 10px;
 height: 10px;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
 display: none;
}
 
::-webkit-scrollbar-track-piece {
// background-image: url("../img/bg-body.png");
 //-webkit-border-radius: 6px;
}
 
::-webkit-scrollbar-thumb:vertical {
 -webkit-border-radius: 6px;
 background: #666 url(../img/scrollbar_thumb_bg.png) no-repeat center;
}
/**************************************************/
/*************   Load more button   ***************/
/**************************************************/
.paging-more {
	display: inline-block;
	text-align: center;
	color: #bfbfbf;
}
.paging-more:hover {
	color: #005580 !important;
}
.paging-more .image {
	position: relative;
	display: block;
	margin: 0 auto 10px auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #ccc;
	-webkit-transition: background-color .11s;
	-moz-transition: background-color .11s;
	-ms-transition: background-color .11s;
	-o-transition: background-color .11s;
	transition: background-color .11s;
}
/**************************************************/
/*************  Back to top button  ***************/
/**************************************************/
#back-to-top {
	position: fixed;
	bottom: 4%;
	right: 4%;
	z-index: 9999;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	background: #666;
	color: #fff;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
}
#back-to-top:hover {
	background: #5D9D50;
	color: white;
}
#back-to-top.show {
	opacity: 1;
}
@media (max-width: 991px){
.alert {
	padding: 4px 8px 5px 12px;
    top: -45px;
    right: 15px;
}
}
 @media (max-width: 768px) {

}

/**************************************************/
/************      Personal Data       ************/
/**************************************************/

article.personal-data .upload-image {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.6;
    text-align: center;
    min-height: 15px;
	width: 100%;
    position: relative;
	margin-top: -24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display:none;
}

 @media (max-width: 768px) {
	 article.personal-data {
		 text-align: center;
	 }
	 
	 article.personal-data .upload-image {
		margin: -24px auto 0px auto;
         display: block !important;
	}
}

/**************************************************/
/**************      Order Data      **************/
/**************************************************/

article.order {
	width:100%;
    border-spacing: 0;
    border-collapse: collapse;
	min-width: 500px;
}
article.order header{ 
    padding-top: 10px;
    height: 45px;  
	background-color:#ce4844;
    color: #fff;
    font-size: 16px;
    font-family: 'MuseoSans500',sans-serif;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
article.order header div:last-child,
article.order div.order-header div:last-child,
article.order div.order-body .order-canceled {
    text-align: right;
}
article.order figure {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
article.order figure:hover{
  background-color: #eee;
}
article.order figure:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
article.order figure div.order-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
article.order figure div.order-body {
    display: none;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
article.order figure .x-count {
    text-align: right;
}
article.order figure .vertical-column-name {
		display: none;
	}
@media (max-width: 768px){
    article.order header {
        display: none;
    }
    article.order:first-child {
        border-top: 1px solid #ddd;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
	
		article.order {
		min-width: auto;
	}
	
	article.order figure .label {
		color: #3B3C41;
		padding-bottom: 0px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0px;
		display: inline;
		background-color: transparent;
	}
	article.order figure .vertical-column-name {
    	text-transform: capitalize;
		display: inline;
		font-weight: bold;
		font-style: italic;
	}
	article.order figure div.order-body {
		border-top: 0px;
	}
}


/**************************************************/
/********         Image area select         *******/
/**************************************************/

input#imgInp {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.upload-image label {
	cursor: pointer;
}
.cropzone {
	position: relative;
}
.tools {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 55;
    display: inline-block;
}
 
